.formCenter{
    box-sizing: border-box;
    border: 10px dotted #1c2237;
    text-align: center;
    padding: 150px;
    margin: 50px;
    font-size: 24px;
    color: #1c2237;
    
}

.formFieldButton{
    margin-top: 30px;
}
